@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.analog {
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
}

.num {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  z-index: 50;
  /* outline: 1px solid red; */
  transform: var(--rotation);
}

.hours-needle,
.minutes-needle,
.seconds-needle {
  position: absolute;
  width: 4px;
  height: 50px;
  border-radius: 100vw;
  transform-origin: bottom;
  background-color: #ff0000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(90deg);
  z-index: 3;
}

.minutes-needle {
  height: 60px;
  background-color: #161616;
  transform: translate(-50%, -100%) rotate(45deg);
  z-index: 2;
}

.seconds-needle {
  height: 70px;
  background-color: #5f9ea0;
  transform: translate(-50%, -100%) rotate(0);
  z-index: 1;
}

.dot {
  width: 8px;
  background-color: #161616;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 5;
}
